name: atsign_atmosphere_pro
description: A file sharing application using @protocol platform

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html

# Mobile version
version: 1.0.7+42

# Desktop version macos
# version: 1.0.1+19

# Desktop version windows
# version: 1.0.1+1

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  archive: ^3.2.2
  cupertino_icons: ^0.1.3
  file_picker: ^4.5.1
  filesystem_picker: ^2.0.0-nullsafety.0
  desktop_window: ^0.4.0
  flutter_keychain: ^2.1.0
  flutter_local_notifications: ^9.4.0
  flutter_qr_reader: ^1.0.5
  flutter_slidable: ^0.6.0
  google_fonts: ^2.3.1
  intl: ^0.17.0
  open_file: ^3.2.1
  pedantic: ^1.11.1
  permission_handler: ^9.2.0
  provider: ^6.0.2
  qr_flutter: ^4.0.0
  receive_sharing_intent: ^1.4.5
  rxdart: ^0.27.3
  share_plus: ^4.0.1
  url_launcher: ^6.0.20
  video_thumbnail: ^0.4.6
  webview_flutter: ^3.0.1
  http: ^0.13.4
  package_info_plus: ^1.4.2
  fluttertoast: ^8.0.9
  file_selector: ^0.8.3
  file_selector_macos: ^0.8.2
  carousel_slider: ^4.0.0
  flutter_toastr: ^1.0.3
  video_compress: ^3.1.0
  new_version: ^0.3.0
  
  at_commons: ^3.0.14
  at_contact: ^3.0.5
  at_common_flutter: ^2.0.7
  
  at_client_mobile: ^3.1.16
  at_onboarding_flutter: ^4.0.2
  at_backupkey_flutter: ^4.0.1
  at_contacts_flutter: ^4.0.4
  at_contacts_group_flutter: ^4.0.4
  local_notifier: ^0.1.1
  at_sync_ui_flutter: ^1.0.2

dependency_overrides:
  at_contacts_flutter:
    git:
      url: https://github.com/atsign-foundation/at_widgets
      ref: trunk
      path: at_contacts_flutter
  at_common_flutter: 
    git:
      url: https://github.com/atsign-foundation/at_widgets
      ref: trunk
      path: at_common_flutter
  at_onboarding_flutter:
    git:
      url: https://github.com/atsign-foundation/at_widgets
      path: at_onboarding_flutter
      ref: feature/on-boarding-2.0
  at_contacts_group_flutter: 
    git:
      url: https://github.com/atsign-foundation/at_widgets
      ref: trunk
      path: at_contacts_group_flutter
  file_saver:
    git:
      url: https://github.com/incrediblezayed/file_saver.git
      ref: main

dev_dependencies:
  flutter_test:
    sdk: flutter
  msix: ^3.3.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: HelveticaNeu
      fonts:
        - asset: assets/fonts/HelveticaLight.ttf
          weight: 300
        - asset: assets/fonts/HelveticaMedium.ttf
          weight: 500
        - asset: assets/fonts/HelveticaRegular.ttf
          weight: 400
        - asset: assets/fonts/HelveticaBold.otf
          weight: 700
        - asset: assets/fonts/HelveticaExtraBold.ttf
          weight: 800
          # style: italic
    - family: PlayfairDisplay
      fonts:
        - asset: assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf

  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

msix_config:
  display_name: "@mospherePro"
  publisher_display_name: "The @ Company"
  identity_name: TheCompany.mospherePro
  publisher: CN=BBFE1D0B-F713-4C7F-B375-5EA851CBB1FF
  msix_version: 1.0.6.0
  logo_path: app-icon.png
  capabilities: internetClient
  store: true
